body {
    background-image: url(todo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.container {
    background-image:url(gradient.jpg);
    background-color: rgba(224, 9, 88, 0.7);
    width: 500px; 
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(143, 107, 107, 0.3);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #18e29ffa;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 30px;
}

button {
    padding: 10px 12px;
    background-color: #2180f3d2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="text"] {
    width: 70%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-task {
    padding: 12px; 
    background-color: #2180f3d2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: green;
}


